In [1]:
import sqlite3 as sql
import pandas as pd

In [18]:
pd.set_option('display.max_rows', 500)
pd.options.display.max_rows
conn = sql.connect('librairieImmobilier.db')

cursor = conn.cursor()

In [3]:
print(pd.read_sql_query("SELECT \"Date mutation\" FROM Mutation ORDER BY \"Date mutation\" DESC ",conn))

        Date mutation
0          2020-06-30
1          2020-06-30
2          2020-06-30
3          2020-06-30
4          2020-06-30
...               ...
1208835    2020-01-01
1208836    2020-01-01
1208837    2020-01-01
1208838    2020-01-01
1208839    2020-01-01

[1208840 rows x 1 columns]

In [4]:
print(pd.read_sql_query("SELECT \"Date mutation\" FROM Mutation ORDER BY \"Date mutation\" DESC ",conn))

        Date mutation
0          2020-06-30
1          2020-06-30
2          2020-06-30
3          2020-06-30
4          2020-06-30
...               ...
1208835    2020-01-01
1208836    2020-01-01
1208837    2020-01-01
1208838    2020-01-01
1208839    2020-01-01

[1208840 rows x 1 columns]

In [5]:
data = pd.read_csv('valeursfoncieres-2020.txt',delimiter = '|')

C:\Users\Simplon 1\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (14,18,23,24,26,28,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
batiment = data.drop(columns=['Date mutation','Nature mutation','Valeur fonciere'])
print(batiment)
print(len(data.head(1000000).drop_duplicates()))
print(len(batiment.head(1000000).drop_duplicates()))

         Code service CH  Reference document  1 Articles CGI  2 Articles CGI  \
0                    NaN                 NaN             NaN             NaN
1                    NaN                 NaN             NaN             NaN
2                    NaN                 NaN             NaN             NaN
3                    NaN                 NaN             NaN             NaN
4                    NaN                 NaN             NaN             NaN
...                  ...                 ...             ...             ...
2459555              NaN                 NaN             NaN             NaN
2459556              NaN                 NaN             NaN             NaN
2459557              NaN                 NaN             NaN             NaN
2459558              NaN                 NaN             NaN             NaN
2459559              NaN                 NaN             NaN             NaN

         3 Articles CGI  4 Articles CGI  5 Articles CGI  No disposition  \
0                   NaN             NaN             NaN               1
1                   NaN             NaN             NaN               1
2                   NaN             NaN             NaN               1
3                   NaN             NaN             NaN               1
4                   NaN             NaN             NaN               1
...                 ...             ...             ...             ...
2459555             NaN             NaN             NaN               1
2459556             NaN             NaN             NaN               1
2459557             NaN             NaN             NaN               1
2459558             NaN             NaN             NaN               1
2459559             NaN             NaN             NaN               1

         No voie B/T/Q  ... Surface Carrez du 5eme lot Nombre de lots  \
0            NaN   NaN  ...                        NaN              0
1            NaN   NaN  ...                        NaN              0
2            NaN   NaN  ...                        NaN              0
3            NaN   NaN  ...                        NaN              0
4            NaN   NaN  ...                        NaN              0
...          ...   ...  ...                        ...            ...
2459555     24.0   NaN  ...                        NaN              0
2459556     24.0   NaN  ...                        NaN              0
2459557     24.0   NaN  ...                        NaN              0
2459558     24.0   NaN  ...                        NaN              0
2459559     39.0   NaN  ...                        NaN              2

        Code type local   Type local Identifiant local Surface reelle bati  \
0                   NaN          NaN               NaN                 NaN
1                   NaN          NaN               NaN                 NaN
2                   NaN          NaN               NaN                 NaN
3                   NaN          NaN               NaN                 NaN
4                   NaN          NaN               NaN                 NaN
...                 ...          ...               ...                 ...
2459555             2.0  Appartement               NaN                87.0
2459556             3.0   Dépendance               NaN                 0.0
2459557             2.0  Appartement               NaN                82.0
2459558             3.0   Dépendance               NaN                 0.0
2459559             2.0  Appartement               NaN                21.0

         Nombre pieces principales  Nature culture Nature culture speciale  \
0                              NaN               T                     NaN
1                              NaN              BT                     NaN
2                              NaN               T                     NaN
3                              NaN               T                     NaN
4                              NaN               T                     NaN
...                            ...             ...                     ...
2459555                        4.0               S                     NaN
2459556                        0.0               S                     NaN
2459557                        2.0               S                     NaN
2459558                        0.0               S                     NaN
2459559                        1.0             NaN                     NaN

         Surface terrain
0                 1061.0
1                   85.0
2                 1115.0
3                 1940.0
4                 1148.0
...                  ...
2459555            447.0
2459556            447.0
2459557            447.0
2459558            447.0
2459559              NaN

[2459560 rows x 40 columns]
978806
967996

In [7]:
print(len(data[['Valeur fonciere','Date mutation','Nature mutation']].sort_values('Valeur fonciere').head(1000).drop_duplicates()))
#print(len(data[['Valeur fonciere','Date mutation','Nature mutation','No disposition']].sort_values(['Valeur fonciere','Nature mutation','Date mutation','No disposition']).head(1000).drop_duplicates()))

203

In [8]:
print(len(data[['Valeur fonciere','Surface reelle bati','Surface terrain','Nombre pieces principales','Type local','No voie','B/T/Q','Code voie','Code commune']].sort_values(['Valeur fonciere','Surface reelle bati','Surface terrain','Nombre pieces principales','Type local','No voie','B/T/Q','Code voie','Code commune']).head(1000).drop_duplicates()))
print(len(data[['Valeur fonciere','Surface reelle bati','Surface terrain','Nombre pieces principales','Type local','No voie','B/T/Q','Code voie','Code commune','Code postal','Surface Carrez du 1er lot','No plan','Section']].sort_values(['Valeur fonciere','Surface reelle bati','Surface terrain','Nombre pieces principales','Type local','No voie','B/T/Q','Code voie','Code commune','Code postal','Surface Carrez du 1er lot','No plan','Section']).head(1000).drop_duplicates()))

534
543

In [9]:
print(data[['Code voie','Voie']].head(1000).sort_values(['Code voie','Voie']).drop_duplicates())

    Code voie                       Voie
879      0001                  DE CURFIN
90       0001              DE PONT D AIN
468      0001           DE SAINT TRIVIER
781      0002                 DE CURCIAT
361      0002     DE L ANCIENNE TUILERIE
431      0002                 DE LA GARE
298      0002     DE ST MARTIN LE CHATEL
631      0005                   CENTRALE
936      0006                DE MEZERIAT
693      0015                  DE L'ANOZ
521      0015          DE LA BALMONDIERE
455      0015        LES BERGERS NIZEREL
483      0016             DE LA BUISSAIE
480      0016               DU REVERMONT
941      0017             DU BIEF GODARD
422      0019                 GRANDE RUE
310      0020                     DE FOZ
352      0020              DE LA CABORNE
805      0020            DES BOISSONNETS
835      0027                 DES BICHES
829      0029           DE LA CHENEVIERE
405      0030             CHARRE DE VAUX
465      0035               DES COMIERES
902      0037                    DE CUET
98       0037        DE LA CROIX BLANCHE
616      0038                DE LA CROIX
325      0040                 GRANDE RUE
327      0044                 DU CHATEAU
837      0045                 DE L ECOLE
678      0045             DE LA CHAPELLE
790      0046                 DE LA COTE
462      0050               DE CORMOMBLE
322      0050              DE LA CHENAIE
33       0052                GRAND CHAMP
719      0055                DE RAVALLIN
102      0055                 GRANDE RUE
770      0060               DE CHAZELLES
6        0064           DE LA CHARTREUSE
345      0065                DE LA POSTE
798      0065                DES ESSARTS
344      0069             DES ENGOULURES
568      0070                 DES LUYERS
332      0071              DE L ALAGNIER
581      0075                   DE MACON
277      0075                    DU JURA
478      0077               GRANDE ROUTE
877      0079                DE CRANGEAT
27       0080              DE LA CULOTTE
669      0080            GABRIEL VICAIRE
54       0085                  DE CROYAT
842      0085                 DES MANINS
103      0085                   DU BOURG
334      0087                  DES ROSES
523      0087                 DES VIGNES
287      0090            DES GIBAUDIERES
106      0093             DE LA CHAPELLE
761      0095                   DE BOURG
550      0095                DE L ETOILE
208      0096              DU REYSSOUZET
833      0100             DE LA CORRERIE
912      0101                   DE LAVAL
946      0101             DES CONDAMINES
186      0105                  DE MARBOZ
419      0110               DE LA MAIRIE
508      0110       DES HAUTES CORCELLES
292      0110                 GRANDE RUE
458      0114               DE FROMENTAL
246      0114                DES GRANGES
932      0115            DU PRE BOURGEON
850      0120                JEAN JAURES
87       0120             JUSTIN REYMOND
907      0125            DES HIRONDELLES
85       0133            DU MAS GAILLARD
476      0135            DE PONT DE VAUX
905      0135              DES ETROUBLES
859      0140                   DE MACON
95       0140               DE MONTESSUY
25       0140               DU COLOMBIER
82       0141                   DU CREUX
63       0145              DE STRASBOURG
797      0148         DES RIVES DE L AIN
15       0149          DES GDES CADALLES
592      0150         DE LA GRANGE MAMAN
772      0150            DE LA PEPINIERE
154      0155     DE LA FORET DE SEILLON
753      0160          DE VILLEREVERSURE
467      0165                   DES IRIS
668      0167               DE L AULNAIE
379      0167                 DE POLLIAT
822      0175                DES VERNAYS
376      0175                 DU MOLLARD
197      0185            DE NEGREFEUILLE
443      0185                DE VARENNES
750      0195           DE L'ETANG SIMON
744      0196          ROUTE DE NEUVILLE
162      0200            ALSACE LORRAINE
454      0200             DE LA FONTAINE
519      0200                  DU VERNAY
120      0202                  DE TANVOL
423      0205               DE ST JULIEN
680      0206                  DE FANGET
141      0210                DES CREUSES
566      0210               DU PRE FAVRE
709      0212                  DE SCHALL
425      0225             AMEDEE MERCIER
515      0225                 DU VILLAGE
359      0235               DES LAURENTS
952      0240               DE LUISANDRE
919      0247         DES RIPPES DE BIOT
75       0255               SUR LA ROCHE
123      0260                    DE LYON
788      0260               SUR LA VILLE
48       0263            DE LA BROCHETTE
732      0265              DE ST SULPICE
630      0266                  FAUVETTES
861      0278      DES GRANDES MANGETTES
764      0300                 PRINCIPALE
622      0310           AUGUSTE PERRODIN
944      0315         DES GRANDS SILLONS
69       0320           AUGUSTE PERRODIN
712      0322           DU PONT DU SURAN
67       0325                 DE L ETANG
809      0341               DES MONTANTS
676      0345                DE NEUVILLE
176      0360                    ST ROCH
786      0385                DE MANTENAY
960      0397               DE BEAUGENCY
618      0400               DU REVERMONT
308      0409            DE LA REYSSOUZE
696      0410              VIES DE BOURG
285      0415          DES PAILLARDIERES
307      0421            DE SAINT MARTIN
219      0425              DES FAUVETTES
214      0427                   DU SAULE
175      0432                  DE SALLES
77       0440                DE LA POSTE
603      0455              DES VERCHERES
934      0455                   DU BERRY
194      0471                 DE VOGELAS
866      0480                     BICHAT
125      0480                 DES VAVRES
602      0495                 DU VILLAGE
347      0620                    DE BROU
192      0632                DE LA BUTTE
564      0680               DES CASERNES
562      0740                 DE CHALLES
14       0770          DU CHAMP DE FOIRE
741      0790            CHARLES GUILLON
745      0930             DU CLAIR MATIN
13       0970   COMTE DE LA TEYSSONNIERE
640      0990                 DU CORDIER
634      1020                  DES CRETS
400      1030                CREVE COEUR
150      1070                  DE CUIRON
823      1100                  DES ORMES
288      1180                  DES DIMES
60       1320              EDGAR  QUINET
730      1336              EDOUARD MANET
806      1370               EMILE BONNET
975      1390           EMILIEN CABUCHET
873      1460                DE L ETOILE
78       1600            GABRIEL VICAIRE
516      1610            GABRIEL VICAIRE
494      1670                 DES GENETS
24       1770                 DES GRAVES
383      1970                JEAN JAURES
428      2095            JOSEPH JACQUARD
343      2135     JULIEN ET MARIUS ROCHE
743      2150          JULIETTE RECAMIER
605      2260             DES LAZARISTES
766      2390                    DE LYON
621      2400                   DE MACON
147      2420                    MAGINOT
165      2520                   MAL FOCH
203      2540                MAL LECLERC
901      2580                MARIA GERAL
204      2722           DE MONTE CASSINO
967      2730               DE MONTHOLON
398      2890         DU PARC ST NICOLAS
826      2934                PAUL DOUMER
495      2990               DE PENNESSUY
34       3044     DE LA PETITE REYSSOUZE
161      3090              PIERRE GOUJON
716      3110              PIERRE SEMARD
178      3120           PIERRE TERRASSON
406      3290        DU QUATRE SEPTEMBRE
969      3330           DE LA REPUBLIQUE
238      3340                      REYER
481      3370              ROLAND GARROS
236      3430                 ST NICOLAS
831      3500              DES SARDIERES
914      3615                TONY FERRET
748      3730                 VILLENEUVE
840      3735             VINCENT BENONY
160      3740              DU 23EME R.I.
374      A002                 DU CHATEAU
97       A012               LES PLATANES
717      A060               DE MONTESSUY
88       A515                   LES PINS
149      B001                    BAILLET
335      B001                    BEL AIR
921      B001                 LES ABIMES
39       B001             LES AMBERTHETS
771      B001              LES BAGNARDES
759      B001              LES BLANDINES
714      B002           ATTIGNAT VILLAGE
355      B002                     BALVAY
248      B002                  BELLE VUE
252      B002               BOIS DE CUET
673      B002               BOISSEROLLES
474      B002               EN BAILLAUDE
615      B002                   LE BOURG
349      B003                 LA CABORNE
20       B003               LES CADALLES
126      B004                   AU BORRY
104      B004              BAGE LA VILLE
487      B004                    BOISSEY
940      B005                BIEF GODARD
747      B005                  EN BERIAT
152      B005               LES BRUYERES
2        B006         BOIS DU CHAMP RION
864      B006             GRAND FAUBOURG
869      B006                 LES BIFFES
738      B006               LES CAROUGES
720      B008                CHAMP MESSI
575      B008                  CHASSAGNE
875      B008                LA CAPITALE
485      B009               CHAMP BURDIN
338      B009                   LE BOURG
982      B009                  LES COTES
802      B010          CHAMP DE LA CROIX
408      B012                 LA BRUYERE
832      B012                LA CORRERIE
580      B013                   BERARDAN
312      B013                  CRUZILLES
210      B013                       CUET
642      B014                     LACHAT
775      B014             LE GRAND CHAMP
572      B014               LES FOURCHES
171      B015                 CHAMP VARY
589      B016                  MONTESSUY
549      B017                   AU BOURG
749      B017                  COMMUNAUX
440      B017                  EN BUCHET
446      B017               LE BOURG EST
360      B017               LES LAURENTS
457      B018                   AU CARRE
331      B018               BOIS DE L HU
658      B019            BOIS DES VERNES
769      B019               CHAMP GONNET
690      B019              CHARBONNIERES
904      B019              LA GUINGUETTE
876      B020            LES CHENEVIERES
706      B020                LES PERRETS
528      B021                  LA CHANAZ
441      B022               CHAMP CORIAN
785      B023                   AU BOURG
836      B023                AUX CHIARDS
438      B023            BOIS JEAN BLANC
370      B023              LA PETILLIERE
213      B023                    LE CART
992      B024                   CHELETAN
251      B024                     PUGEAT
296      B025                  BOTTEREAU
225      B025                 CURNILLATS
3        B025                EN COROBERT
543      B025               LA CHARMILLE
389      B025              LA COQUINIERE
328      B025                 LES GUYOTS
703      B025                LES PUTHODS
73       B026                   LE BOURG
555      B027                  L HOPITAL
839      B028                  EN COMORD
582      B028                 LES LUYERS
888      B029                A LA CHARME
646      B029                   LA CROIX
614      B030             COTES DU CHENE
600      B030             LA CHANDELIERE
216      B031                LES CHANEES
569      B031                  MONTREVEL
55       B031                     VAVRES
497      B032         AUX GRANDES ROLLES
536      B032               COMBE LIATAZ
36       B032          HAMEAU DES RIPPES
751      B032                   LES CLES
9        B034                    CHAMPEL
499      B034                    LE CLOS
403      B034                   MONTMAIN
518      B035                  AU VERNAY
567      B035              LA CROIX JOLY
309      B036               EN CHESSENIN
623      B036          LE HAUT MONTAGNAT
38       B038                 A LA CROIX
607      B038                  BOIS GELE
886      B038                    CHARMES
187      B038                LES DEVANTS
127      B038                LES PAUQUIS
289      B040          EN CHARLES MARTIN
506      B040                  LES GAMBY
675      B041                    CHALLES
7        B041              CHAMP PORTIER
511      B041      SAINT ANDRE D HUIRIAT
293      B043                   FRILLAGE
99       B043           LA CROIX BLANCHE
26       B044               AU COLOMBIER
302      B044                    CORNANT
548      B045                 LA CAMBUSE
773      B045                 LA FOLLIAT
215      B045                    LES BYS
505      B046                LES CURTILS
777      B047              GRANGE RENAUD
661      B048               LA CLAUDIERE
30       B048                 LE VILLAGE
22       B049             COLIGNY LE BAS
212      B050            COLIGNY LE HAUT
758      B050                   CRANGEAT
828      B050    PRAIRIE DE MONTPLAISANT
169      B051         CHAMP DE CHAMPAGNE
989      B053                 LA GALETTE
108      B055                      DHUYS
144      B055                   LA CROIX
701      B055                   LE BOURG
330      B056                CHAMP DE LU
981      B056                EN FRECHAUX
326      B056                    FAYOLLE
477      B056                   JARANTON
91       B056                  LE MOLARD
145      B057                LES CRUISES
79       B057                   MABERTIN
908      B058            CHAMP DE VIRIAT
411      B058                GRAND RIVET
94       B058                  MONTESSUY
498      B060                 GROS BIOUD
286      B061                  LA GENETE
746      B061                 LES ENCLOS
500      B062                   A L ORME
250      B062             ETANG DES BOIS
847      B062              GRAND MORTIER
0        B063                   FORTUNAT
66       B063                    OUSSIAT
177      B064              LE CLOS BRULE
958      B064               SAINT JULIEN
315      B066                    FENIOUX
792      B066                   PRE NEUF
740      B067                 LES FICHES
863      B068      AUX GRANDES MANGETTES
373      B068                 LA PEROUZE
501      B070          LA PETITE COLASSE
68       B071                 EN CUNIERE
174      B071                MONS HAMEAU
268      B072                AU DEGOUTTE
577      B072                    MOIRANS
851      B073               LES PERALLES
681      B074                       COUR
559      B076             ETANG MEPILLAT
509      B077           HAUTES CORCELLES
834      B077                 LES METRAS
112      B078           AUX GROBONNIERES
547      B078                  LA PRESLE
314      B079                 LOGIS NEUF
276      B081                    VILLAGE
117      B082                   A LACHAT
504      B082                 LE MOLLARD
138      B084                 LE POISIAT
295      B085              GRAND MOLLARD
843      B088                LES CHEVRES
140      B088               LES ECHANEES
918      B089          HAMEAU DE BANCHIN
911      B089                 LA PLANTEE
789      B090           HAMEAU DE THIOLE
420      B091            PRE DE LA CROIX
650      B091             TERRES DE LYON
472      B093     GRAND CHAMP DE TERNANT
735      B093              VIES DU BOURG
852      B094             AU PRE DE LAIZ
206      B094                   LA RUINE
657      B094        LES GRANDS EGRELETS
279      B095                  EN FAVARY
61       B095                 LES JORDES
807      B095                 LES MAMONS
297      B096          LES GRANDS QUARTS
647      B099                    TOURNAZ
247      B101            CONDAMINE BERRY
300      B101                 LA SENASSE
137      B102                  LA VIERGE
490      B103                   EN SCHAL
660      B104                  LANGLESSY
663      B106                LA LOUVIERE
11       B107                    LORETTE
456      B110                   A ONIRES
590      B110                LE DEGOTTET
867      B111             LES VAVRES SUD
763      B111  TERRE DU BOIS DE L EGLISE
64       B112                  VACAGNOLE
463      B116                AUX SABLONS
333      B116                    LE FORT
21       B118                 LES FOSSES
444      B118                   VARENNES
193      B120                 LE VILLAGE
609      B121                  LE GOTTEX
587      B121               LES ROUILLES
429      B122             PETIT SIMANDRE
610      B123               PRES DU BIEF
442      B123                   SOTTISON
779      B124                  MOLESSIAT
1        B124     TERRES DES CINQ SAULES
799      B124         VILLAGE DE VERNOUX
733      B128              LA TORTILLERE
407      B129                   LA PRUCE
736      B129                    LIARIAT
371      B129                PRE CARNIER
645      B129          TERRES DU CHAPEAU
122      B130               GRAND TANVOL
179      B130                LA FONTAINE
964      B132          VILLAGE D EN HAUT
479      B133                  AU PEROUX
728      B135             CORCELLE BASSE
800      B135            VERS LA PLANCHE
699      B136              SAINT TRIVIER
980      B136           VERS LE MALIVERT
556      B137             PETIT MEPILLAT
111      B141                  VERS GRAY
399      B145              CONFRANCHETTE
119      B145             VERS LE CLAPAY
692      B147               GRANDE RIPPE
768      B148                    LINGEAT
80       B149      HAMEAU DU CREUX OUEST
453      B152                 AU VILLAGE
935      B152                    LA TOUR
691      B153             GRANDES VERNES
109      B155                 AUX VIGNES
294      B155           TERRE DU TAILLIS
689      B156              LE LIT ROLLET
363      B158               PRES DU CLOS
260      B159                 A MENEUVRE
357      B165              LA MONTANIERE
662      B165                LA VERCHERE
853      B168            LA LIE BOUTEUSE
89       B171           LES GASSAGNETTES
253      B172                  AU PELOUX
339      B172                  FRANCLIEU
949      B178               LA PERRINCHE
855      B181               TREYVE BADRY
128      B190                 LES OLIVES
101      B191                 LE VILLAGE
942      B191                     ONJARD
388      B192                  MOUSSERON
282      B198                   LES FAYS
200      B198              LES FIEULIRES
694      B205                   AU PELUS
280      B206                  EN FIOTRE
243      B208       LES PETITES BROYERES
451      B210                   AU PAGET
920      B214      LES QUATRE CHARRIERES
818      B214                LES VERNAIS
994      B217               LES PALISSES
270      B221              RIPPE CORDIER
713      B237                    LASSERA
49       B239                 AUX RIVONS
576      B239         MOULIN DE LA FORET
698      B240                 LES MOULUS
42       B249              LES TRILLERES
787      B251              SAINT MAURICE
409      B253             PETIT MONTJUIF
40       B264         LES GREFFETS OUEST
702      B283                   MALEMPAN
245      B313                    VIVERET
619      B320                   LA VILLE
913      B331                    LE VOIR
182      B334                LES SAUJOTS
524      B341                  RACLIERES
304      B347               LE RESERVOIR
765      B407         VILLAGE DE CUISIAT
924      B423               CHAMPS MOISY
199      B441                   LA VAVRE
195      B460      LE VILLAGE - PRESSIAT
196      B462                    VOGELAS
386       NaN                        NaN

In [10]:
data[['Commune','Code commune']].sort_values('Commune').drop_duplicates().head(100)

#print(data[['Commune','Code departement']].sort_values('Code departement').head(100))

                               Commune  Code commune
1572789                           AAST             1
1459921                      ABANCOURT             1
1283062                      ABAUCOURT             1
1318558           ABAUCOURT-HAUTECOURT             2
486831                   ABBANS DESSUS             2
1079335                       ABBARETZ             1
1456303                      ABBECOURT             2
33812                        ABBECOURT             1
488160                        ABBENANS             3
1948626                      ABBEVILLE             1
1467106            ABBEVILLE ST LUCIEN             3
2205378           ABBEVILLE-LA-RIVIERE             1
1307720         ABBEVILLE-LES-CONFLANS             2
492323                     ABBEVILLERS             4
765517                        ABEILHAN             1
1667244                      ABELCOURT             1
1572023                          ABERE             2
1680936       ABERGEMENT STE COLOMBE L             2
1693435     ABERGEMENT-DE-CUISERY (L )             1
14048         ABERGEMENT-DE-VAREY (L )             2
894754             ABERGEMENT-LA-RONCE             1
888724             ABERGEMENT-LE-GRAND             2
885081            ABERGEMENT-LES-THESY             4
1580666                         ABIDOS             3
859386                          ABILLY             1
1572446                        ABITAIN             4
449965               ABJAT-SUR-BANDIAT             1
1513784              ABLAIN-ST-NAZAIRE             1
1958586           ABLAINCOURT-PRESSOIR             2
1509809                  ABLAINZEVELLE             2
1252745                     ABLANCOURT             1
2352594                       ABLEIGES             2
1911057                          ABLIS             3
285503                           ABLON             1
2332081                ABLON-SUR-SEINE             1
970636                           ABOEN             1
1668044           ABONCOURT-GESINCOURT             2
1758135                      ABONDANCE             1
531479                        ABONDANT             1
1572813                           ABOS             5
60291                           ABREST             1
79629                  ABRIES-RISTOLAS             1
1447879                         ABSCON             2
718050                           ABZAC             1
485554                        ACCOLANS             5
158364                          ACCONS             1
1584949                         ACCOUS             6
1894186                        ACHERES             5
363578                         ACHERES             1
1807613               ACHERES-LA-FORET             1
33809                           ACHERY             2
1948366             ACHEUX-EN-AMIENOIS             3
1950535                ACHEUX-EN-VIMEU             4
1516261                      ACHEVILLE             3
1673540                          ACHEY             3
1512287                      ACHICOURT             4
1512289                ACHIET-LE-GRAND             5
1509027                ACHIET-LE-PETIT             6
1366570                          ACHUN             1
1461231                           ACHY             4
786405                          ACIGNE             1
509756                            ACON             2
1506323                            ACQ             7
515423                        ACQUIGNY             3
1547300             ACQUIN-WESTBECOURT             8
44476                              ACY             3
1474685                 ACY EN MULTIEN             5
166131                     ACY-ROMANCE             1
1900189                     ADAINVILLE             6
1596328                          ADAST             1
1601370                            ADE             2
1660902  ADELANS ET LE VAL DE BITHAINE             4
1596717         ADERVIELLE-POUCHERGUES             3
1916066                         ADILLY             2
1507339                        ADINFER             9
765025                         ADISSAN             2
1111236                           ADON             1
2077852                        ADRIERS             1
558015                             AFA             1
369529                         AFFIEUX             1
1303378                     AFFLEVILLE             4
1656079                         AFFOUX             1
1289378                     AFFRACOURT             5
1548204                     AFFRINGUES            10
629651                         AGASSAC             1
769452                            AGDE             3
763246                            AGEL             4
1127435                           AGEN             1
224378                  AGEN-D AVEYRON             1
389778                       AGENCOURT             1
1947624                      AGENVILLE             5
1951662                    AGENVILLERS             6
1259369                       AGEVILLE             1
384931                            AGEY             2
1291838                      AGINCOURT             6
1132265                           AGME             2
1132769                          AGNAC             3
996881                           AGNAT             1
1198969                        AGNEAUX             2
1463277                         AGNETZ             7

In [11]:
print(data[['Commune','Code departement','Code commune']].sort_values('Commune').drop_duplicates().head(100))

                               Commune Code departement  Code commune
1572789                           AAST               64             1
1459921                      ABANCOURT               60             1
1438419                      ABANCOURT               59             1
1283062                      ABAUCOURT               54             1
1318558           ABAUCOURT-HAUTECOURT               55             2
486831                   ABBANS DESSUS               25             2
1079335                       ABBARETZ               44             1
1456303                      ABBECOURT               60             2
33812                        ABBECOURT                2             1
488160                        ABBENANS               25             3
1948626                      ABBEVILLE               80             1
1467106            ABBEVILLE ST LUCIEN               60             3
2205378           ABBEVILLE-LA-RIVIERE               91             1
1307720         ABBEVILLE-LES-CONFLANS               54             2
492323                     ABBEVILLERS               25             4
765517                        ABEILHAN               34             1
1667244                      ABELCOURT               70             1
1572023                          ABERE               64             2
1680936       ABERGEMENT STE COLOMBE L               71             2
1693435     ABERGEMENT-DE-CUISERY (L )               71             1
14048         ABERGEMENT-DE-VAREY (L )                1             2
894754             ABERGEMENT-LA-RONCE               39             1
888724             ABERGEMENT-LE-GRAND               39             2
885081            ABERGEMENT-LES-THESY               39             4
1580666                         ABIDOS               64             3
859386                          ABILLY               37             1
1572446                        ABITAIN               64             4
449965               ABJAT-SUR-BANDIAT               24             1
1513784              ABLAIN-ST-NAZAIRE               62             1
1958586           ABLAINCOURT-PRESSOIR               80             2
1509809                  ABLAINZEVELLE               62             2
1252745                     ABLANCOURT               51             1
2352594                       ABLEIGES               95             2
1911057                          ABLIS               78             3
285503                           ABLON               14             1
2332081                ABLON-SUR-SEINE               94             1
970636                           ABOEN               42             1
1668044           ABONCOURT-GESINCOURT               70             2
1758135                      ABONDANCE               74             1
531479                        ABONDANT               28             1
1572813                           ABOS               64             5
60291                           ABREST                3             1
79629                  ABRIES-RISTOLAS                5             1
1447879                         ABSCON               59             2
718050                           ABZAC               33             1
300459                           ABZAC               16             1
485554                        ACCOLANS               25             5
158364                          ACCONS                7             1
1584949                         ACCOUS               64             6
1894186                        ACHERES               78             5
363578                         ACHERES               18             1
1807613               ACHERES-LA-FORET               77             1
33809                           ACHERY                2             2
1948366             ACHEUX-EN-AMIENOIS               80             3
1950535                ACHEUX-EN-VIMEU               80             4
1516261                      ACHEVILLE               62             3
1673540                          ACHEY               70             3
1512287                      ACHICOURT               62             4
1512289                ACHIET-LE-GRAND               62             5
1509027                ACHIET-LE-PETIT               62             6
1366570                          ACHUN               58             1
1461231                           ACHY               60             4
786405                          ACIGNE               35             1
509756                            ACON               27             2
1506323                            ACQ               62             7
515423                        ACQUIGNY               27             3
1547300             ACQUIN-WESTBECOURT               62             8
44476                              ACY                2             3
1474685                 ACY EN MULTIEN               60             5
166131                     ACY-ROMANCE                8             1
1900189                     ADAINVILLE               78             6
1596328                          ADAST               65             1
1601370                            ADE               65             2
1660902  ADELANS ET LE VAL DE BITHAINE               70             4
1596717         ADERVIELLE-POUCHERGUES               65             3
1916066                         ADILLY               79             2
1507339                        ADINFER               62             9
765025                         ADISSAN               34             2
1111236                           ADON               45             1
2077852                        ADRIERS               86             1
558015                             AFA               2A             1
369529                         AFFIEUX               19             1
1303378                     AFFLEVILLE               54             4
1656079                         AFFOUX               69             1
1289378                     AFFRACOURT               54             5
1548204                     AFFRINGUES               62            10
629651                         AGASSAC               31             1
769452                            AGDE               34             3
763246                            AGEL               34             4
1127435                           AGEN               47             1
224378                  AGEN-D AVEYRON               12             1
389778                       AGENCOURT               21             1
1947624                      AGENVILLE               80             5
1951662                    AGENVILLERS               80             6
1259369                       AGEVILLE               52             1
384931                            AGEY               21             2
1291838                      AGINCOURT               54             6
1132265                           AGME               47             2
1132769                          AGNAC               47             3
996881                           AGNAT               43             1

In [12]:
print(data[['Type local','Code type local']].head(100000).sort_values(['Type local','Code type local']).drop_duplicates())

                                  Type local  Code type local
14                               Appartement              2.0
18                                Dépendance              3.0
90  Local industriel. commercial ou assimilé              4.0
11                                    Maison              1.0
0                                        NaN              NaN

In [13]:
pd.read_sql_query("SELECT * FROM sqlite_master",conn)

,type,name,tbl_name,rootpage,sql
0,table,Voie,Voie,2,"CREATE TABLE ""Voie"" (\n""index"" INTEGER,\n ""Vo..."
1,index,ix_Voie_index,Voie,3,"CREATE INDEX ""ix_Voie_index""ON ""Voie"" (""index"")"
2,table,Data,Data,270,"CREATE TABLE ""Data"" (\n""index"" INTEGER,\n ""Da..."
3,index,ix_Data_index,Data,271,"CREATE INDEX ""ix_Data_index""ON ""Data"" (""index"")"
4,table,Type local,Type local,268,"CREATE TABLE ""Type local"" (\n""index"" INTEGER,\..."
5,index,ix_Type local_index,Type local,269,"CREATE INDEX ""ix_Type local_index""ON ""Type loc..."
6,table,Mutation,Mutation,4572,"CREATE TABLE ""Mutation"" (\n""Date mutation"" TEX..."
7,table,Batiment,Batiment,272,"CREATE TABLE ""Batiment"" (\n""level_0"" INTEGER,\..."
8,index,ix_Batiment_level_0,Batiment,27911,"CREATE INDEX ""ix_Batiment_level_0""ON ""Batiment..."

In [14]:
pd.read_sql_query("SELECT strftime('%m', \"Date mutation\") as Month FROM Mutation WHERE \"Nature mutation\"='Vente' AND strftime('%m', \"Date mutation\") < '07' ",conn)

        Month
0          02
1          02
2          02
3          02
4          02
...       ...
1108656    03
1108657    04
1108658    04
1108659    04
1108660    03

[1108661 rows x 1 columns]

In [39]:
print(pd.read_sql_query("SELECT DISTINCT * FROM Batiment INNER JOIN Mutation ON Batiment.IdMutation= Mutation.Id ",conn))
print(pd.read_sql_query("SELECT DISTINCT * FROM Batiment ",conn))
print(pd.read_sql_query("SELECT DISTINCT * FROM Mutation ",conn))

         level_0    index  No voie B/T/Q Type de voie Code voie  \
0              0        1      NaN  None         None      B124
1              1        2      NaN  None         None      B006
2              2        3      NaN  None         None      B025
3              3        4      NaN  None         None      B124
4              4        5      NaN  None         None      B124
...          ...      ...      ...   ...          ...       ...
1208835  1208835  2459412      8.0  None          RUE      7561
1208836  1208836  2459446      9.0  None          RUE      9834
1208837  1208837  2459501      1.0  None          RUE      8752
1208838  1208838  2459502      1.0  None          RUE      8752
1208839  1208839  2459505      3.0  None          RUE      5846

                           Voie  Code postal   Commune Code departement  ...  \
0        TERRES DES CINQ SAULES       1290.0      LAIZ                1  ...
1            BOIS DU CHAMP RION       1290.0      LAIZ                1  ...
2                   EN COROBERT       1290.0      LAIZ                1  ...
3        TERRES DES CINQ SAULES       1290.0      LAIZ                1  ...
4        TERRES DES CINQ SAULES       1290.0      LAIZ                1  ...
...                         ...          ...       ...              ...  ...
1208835            POISSONNIERE      75002.0  PARIS 02               75  ...
1208836       DE LA VILLE NEUVE      75002.0  PARIS 02               75  ...
1208837           SAINT-SAUVEUR      75002.0  PARIS 02               75  ...
1208838           SAINT-SAUVEUR      75002.0  PARIS 02               75  ...
1208839                   LULLI      75002.0  PARIS 02               75  ...

         Surface reelle bati  Nombre pieces principales Nature culture  \
0                        NaN                        NaN             BT
1                        NaN                        NaN              T
2                        NaN                        NaN              T
3                        NaN                        NaN              T
4                        NaN                        NaN              T
...                      ...                        ...            ...
1208835                 28.0                        2.0           None
1208836                 63.0                        3.0           None
1208837                 12.0                        1.0           None
1208838                 12.0                        1.0           None
1208839                 22.0                        1.0           None

         Nature culture speciale Surface terrain IdMutation Date mutation  \
0                           None            85.0          1    2020-02-01
1                           None          1115.0          2    2020-02-01
2                           None          1940.0          3    2020-02-01
3                           None          1148.0          4    2020-02-01
4                           None          2960.0          5    2020-02-01
...                          ...             ...        ...           ...
1208835                     None             NaN    2459412    2020-03-12
1208836                     None             NaN    2459446    2020-04-12
1208837                     None             NaN    2459501    2020-04-12
1208838                     None             NaN    2459502    2020-04-12
1208839                     None             NaN    2459505    2020-03-09

         Nature mutation  Valeur fonciere       Id
0                  Vente          2175,00        1
1                  Vente          2175,00        2
2                  Vente          2175,00        3
3                  Vente          2175,00        4
4                  Vente          2175,00        5
...                  ...              ...      ...
1208835            Vente        310600,00  2459412
1208836            Vente        753000,00  2459446
1208837            Vente         94000,00  2459501
1208838            Vente          4000,00  2459502
1208839            Vente        300000,00  2459505

[1208840 rows x 27 columns]
         level_0    index  No voie B/T/Q Type de voie Code voie  \
0              0        1      NaN  None         None      B124
1              1        2      NaN  None         None      B006
2              2        3      NaN  None         None      B025
3              3        4      NaN  None         None      B124
4              4        5      NaN  None         None      B124
...          ...      ...      ...   ...          ...       ...
1208835  1208835  2459412      8.0  None          RUE      7561
1208836  1208836  2459446      9.0  None          RUE      9834
1208837  1208837  2459501      1.0  None          RUE      8752
1208838  1208838  2459502      1.0  None          RUE      8752
1208839  1208839  2459505      3.0  None          RUE      5846

                           Voie  Code postal   Commune Code departement  ...  \
0        TERRES DES CINQ SAULES       1290.0      LAIZ                1  ...
1            BOIS DU CHAMP RION       1290.0      LAIZ                1  ...
2                   EN COROBERT       1290.0      LAIZ                1  ...
3        TERRES DES CINQ SAULES       1290.0      LAIZ                1  ...
4        TERRES DES CINQ SAULES       1290.0      LAIZ                1  ...
...                         ...          ...       ...              ...  ...
1208835            POISSONNIERE      75002.0  PARIS 02               75  ...
1208836       DE LA VILLE NEUVE      75002.0  PARIS 02               75  ...
1208837           SAINT-SAUVEUR      75002.0  PARIS 02               75  ...
1208838           SAINT-SAUVEUR      75002.0  PARIS 02               75  ...
1208839                   LULLI      75002.0  PARIS 02               75  ...

         No plan  No Volume Surface Carrez du 1er lot  Identifiant local  \
0              4       None                      None               None
1            173       None                      None               None
2            477       None                      None               None
3             68       None                      None               None
4             69       None                      None               None
...          ...        ...                       ...                ...
1208835       87       None                     28,46               None
1208836      206       None                      None               None
1208837      105       None                      7,40               None
1208838      105       None                      None               None
1208839      101       None                     21,51               None

        Surface reelle bati Nombre pieces principales Nature culture  \
0                       NaN                       NaN             BT
1                       NaN                       NaN              T
2                       NaN                       NaN              T
3                       NaN                       NaN              T
4                       NaN                       NaN              T
...                     ...                       ...            ...
1208835                28.0                       2.0           None
1208836                63.0                       3.0           None
1208837                12.0                       1.0           None
1208838                12.0                       1.0           None
1208839                22.0                       1.0           None

         Nature culture speciale  Surface terrain IdMutation
0                           None             85.0          1
1                           None           1115.0          2
2                           None           1940.0          3
3                           None           1148.0          4
4                           None           2960.0          5
...                          ...              ...        ...
1208835                     None              NaN    2459412
1208836                     None              NaN    2459446
1208837                     None              NaN    2459501
1208838                     None              NaN    2459502
1208839                     None              NaN    2459505

[1208840 rows x 23 columns]
        Date mutation Nature mutation Valeur fonciere       Id
0          2020-02-01           Vente         2175,00        1
1          2020-02-01           Vente         2175,00        2
2          2020-02-01           Vente         2175,00        3
3          2020-02-01           Vente         2175,00        4
4          2020-02-01           Vente         2175,00        5
...               ...             ...             ...      ...
1208835    2020-03-12           Vente       310600,00  2459412
1208836    2020-04-12           Vente       753000,00  2459446
1208837    2020-04-12           Vente        94000,00  2459501
1208838    2020-04-12           Vente         4000,00  2459502
1208839    2020-03-09           Vente       300000,00  2459505

[1208840 rows x 4 columns]

In [37]:
pd.read_sql_query("SELECT Id,\"Date mutation\",\"nature mutation\",\"Valeur fonciere\",\"Surface reelle bati\",Commune,Voie FROM Batiment INNER JOIN Mutation ON Batiment.IdMutation= Mutation.Id AND Commune='LESPIGNAN' ORDER BY Batiment.IdMutation LIMIT 10000 ",conn)

,Id,Date mutation,Nature mutation,Valeur fonciere,Surface reelle bati,Commune,Voie
0,557006,2020-01-06,Vente,"161200,00",65.0,LESPIGNAN,DE FLEURY
1,557046,2020-17-01,Vente,"75000,00",NaN,LESPIGNAN,LE VILLAGE
2,557047,2020-17-01,Vente,"75000,00",NaN,LESPIGNAN,LE VILLAGE
3,557173,2020-16-01,Vente,"196000,00",202.0,LESPIGNAN,DU RESERVOIR
4,557496,2020-02-05,Vente,"161000,00",100.0,LESPIGNAN,DES ROSES
5,558335,2020-27-02,Vente,"1500,00",NaN,LESPIGNAN,DERRIERE LE PARC
6,558533,2020-24-02,Vente,"55000,00",67.0,LESPIGNAN,DES PEUPLIERS
7,558580,2020-03-06,Vente,"150,00",NaN,LESPIGNAN,LE CANTON
8,558581,2020-03-06,Vente,"150,00",NaN,LESPIGNAN,LE CANTON
9,558862,2020-27-02,Vente,"264000,00",100.0,LESPIGNAN,DU PRUNIER
10,560423,2020-29-05,Vente,"132250,00",0.0,LESPIGNAN,DE BEZIERS
11,560424,2020-29-05,Vente,"132250,00",73.0,LESPIGNAN,DE BEZIERS
12,560425,2020-29-05,Vente,"132250,00",0.0,LESPIGNAN,DE BEZIERS
13,560426,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
14,560427,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
15,560428,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
16,560429,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
17,560430,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
18,560431,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
19,560432,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
20,560433,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
21,560434,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
22,560435,2020-29-05,Vente,"116280,00",NaN,LESPIGNAN,AMEILLEREDE
23,560756,2020-20-05,Vente,"300000,00",130.0,LESPIGNAN,LOTISSEMENT EMILLE CAMPS
24,560910,2020-24-06,Vente,"66000,00",NaN,LESPIGNAN,LE VILLAGE
25,561127,2020-29-06,Vente,"73000,00",102.0,LESPIGNAN,DU SERPOLET
26,561128,2020-29-06,Vente,"73000,00",NaN,LESPIGNAN,LE VILLAGE
27,561179,2020-25-06,Vente,"900,00",NaN,LESPIGNAN,LA MATE
28,561193,2020-24-06,Vente,"144871,00",96.0,LESPIGNAN,DU ROC
29,561229,2020-19-06,Vente,"210000,00",NaN,LESPIGNAN,CROUZELS
30,561597,2020-20-07,Vente,"195966,00",86.0,LESPIGNAN,DU PARC
31,561664,2020-17-07,Vente,"227920,00",100.0,LESPIGNAN,DE LA MARGUERITE
32,561673,2020-23-07,Vente,"40000,00",48.0,LESPIGNAN,DE LA MAIRIE
33,561702,2020-17-07,Vente,"1000,00",NaN,LESPIGNAN,COMBE OULIVA
34,561948,2020-31-07,Vente,"10000,00",NaN,LESPIGNAN,ROUCOULES
35,562305,2020-13-08,Vente,"207000,00",90.0,LESPIGNAN,DE FLEURY
36,562506,2020-27-08,Vente,"14500,00",NaN,LESPIGNAN,BELVEZENE
37,562507,2020-27-08,Vente,"14500,00",NaN,LESPIGNAN,BELVEZENE
38,562508,2020-28-08,Vente,"235000,00",160.0,LESPIGNAN,DU SUREAU
39,562511,2020-26-08,Vente,"138150,00",40.0,LESPIGNAN,DE LA TOUR
40,562520,2020-31-08,Vente,"2000,00",NaN,LESPIGNAN,CAMP REDOUN
41,563249,2020-23-10,Vente,"91970,00",0.0,LESPIGNAN,DE LA MEJARIE
42,563250,2020-23-10,Vente,"91970,00",110.0,LESPIGNAN,DE LA MEJARIE
43,563325,2020-26-10,Vente,"40000,00",NaN,LESPIGNAN,DES CROUZELS
44,563339,2020-27-10,Vente,"80000,00",65.0,LESPIGNAN,DE L HOTEL DE VILLE
45,563424,2020-14-10,Vente,"104000,00",NaN,LESPIGNAN,DU CINSAULT
46,563837,2020-19-11,Vente,"6000,00",NaN,LESPIGNAN,BALIGNO
47,563838,2020-19-11,Vente,"6000,00",NaN,LESPIGNAN,BALIGNO
48,563870,2020-30-11,Vente,"197500,00",0.0,LESPIGNAN,DES BUISSONNETS
49,563871,2020-30-11,Vente,"197500,00",0.0,LESPIGNAN,DES BUISSONNETS
50,563872,2020-30-11,Vente,"197500,00",89.0,LESPIGNAN,DES BUISSONNETS
51,564020,2020-14-12,Vente,"424000,00",168.0,LESPIGNAN,DU CHATEAU D EAU
52,564021,2020-14-12,Vente,"424000,00",168.0,LESPIGNAN,DU CHATEAU D EAU

In [19]:
pd.read_sql_query("SELECT \"Date mutation\",\"nature mutation\",\"Valeur fonciere\",\"Surface reelle bati\",Commune,Voie FROM Data   LIMIT 10000 ",conn)

,Date mutation,Nature mutation,Valeur fonciere,Surface reelle bati,Commune,Voie
0,2020-02-01,Vente,"2175,00",NaN,LAIZ,TERRES DES CINQ SAULES
1,2020-02-01,Vente,"2175,00",NaN,LAIZ,BOIS DU CHAMP RION
2,2020-02-01,Vente,"2175,00",NaN,LAIZ,EN COROBERT
3,2020-02-01,Vente,"2175,00",NaN,LAIZ,TERRES DES CINQ SAULES
4,2020-02-01,Vente,"2175,00",NaN,LAIZ,TERRES DES CINQ SAULES
...,...,...,...,...,...,...
9995,2020-06-30,Vente,"475000,00",NaN,GEX,LA CURE
9996,2020-06-30,Vente,"475000,00",80.0,GEX,MARC PANISSOD
9997,2020-06-30,Vente,"475000,00",NaN,GEX,LA CURE
9998,2020-06-30,Vente,"475000,00",NaN,GEX,LA CURE
9999,2020-03-07,Vente,"35000,00",NaN,CHAZEY-SUR-AIN,LES SABLIERES

In [34]:
pd.read_sql_query("SELECT IdMutation,* FROM Batiment  WHERE Voie = 'CROUZELS'",conn)

,IdMutation,level_0,index,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,...,No plan,No Volume,Surface Carrez du 1er lot,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,IdMutation
0,764259,387248,764259,None,None,None,B084,CROUZELS,34710.0,LESPIGNAN,...,4611,None,None,None,None,None,AB,None,320.0,764259

In [3]:
pd.read_sql_query("SELECT rowid,\"Date mutation\",\"nature mutation\",\"Valeur fonciere\" FROM Mutation  ORDER BY \"Date mutation\"  ",conn)

           rowid Date mutation Nature mutation Valeur fonciere
0         122017    2020-01-01           Vente       195000,00
1         122018    2020-01-01           Vente       195000,00
2         287802    2020-01-01           Vente        87500,00
3         287803    2020-01-01           Vente        87500,00
4         437939    2020-01-01           Vente         2055,20
...          ...           ...             ...             ...
1208835  1208665    2020-06-30           Vente       600000,00
1208836  1208669    2020-06-30           Vente      1290000,00
1208837  1208670    2020-06-30           Vente       726000,00
1208838  1208675    2020-06-30           Vente       150000,00
1208839  1208676    2020-06-30           Vente       520000,00

[1208840 rows x 4 columns]

In [ ]:
pd.read_sql_query("SELECT \"Date mutation\",\"nature mutation\",\"Valeur fonciere\" FROM Mutation  ORDER BY \"Date mutation\"  ",conn)

In [18]:
pd.read_sql_query("SELECT  IdMutation FROM Batiment ",conn)

         IdMutation
0                 1
1                 2
2                 3
3                 4
4                 5
...             ...
1208835     2459412
1208836     2459446
1208837     2459501
1208838     2459502
1208839     2459505

[1208840 rows x 1 columns]

In [29]:
temp =  pd.read_sql_query("SELECT \"Date mutation\",rowid,Commune,Voie,\"Surface reelle bati\" FROM Data ",conn)
temp.sample(5000)
temp.sort_values('Date mutation')
temp.head(5000)

,Date mutation,rowid,Commune,Voie,Surface reelle bati
0,2020-02-01,2,LAIZ,TERRES DES CINQ SAULES,NaN
1,2020-02-01,3,LAIZ,BOIS DU CHAMP RION,NaN
2,2020-02-01,4,LAIZ,EN COROBERT,NaN
3,2020-02-01,5,LAIZ,TERRES DES CINQ SAULES,NaN
4,2020-02-01,6,LAIZ,TERRES DES CINQ SAULES,NaN
...,...,...,...,...,...
4995,2020-02-20,7064,SEGNY,DES CARPIERES,NaN
4996,2020-02-20,7065,SEGNY,LES TAUQUES,NaN
4997,2020-02-20,7066,SEGNY,DES CARPIERES,NaN
4998,2020-04-02,7068,PREVESSIN-MOENS,DE LA FONTAINE,0.0
4999,2020-04-02,7069,PREVESSIN-MOENS,DE LA FONTAINE,0.0

In [16]:
conn.commit()
conn.close()